{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hi, I am MacVincent Agha-Oko, a Computer Engineering Major who loves Gof, Family, Country, and Coding</title>
  <link rel="icon" type="image/jpg" href="{% static 'img/br.jpg' %}" />
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One|Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <div class="name">       
        <h1 class="name">MacVincent</h1>
      </li>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="js-scroll-trigger" href="#image">Home</a>
        </li>
        <li class="nav-item">
            <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
            <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/macvincent" target="#">Github</a>
        </li>
        <li class="nav-item" id="git">
            <a href="{% static 'docs/MacVincent_Agha-Oko_resume.pdf' %}" target="#">Resume</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'blogHome' %}" target="#">NewsRoom</a>
        </li>
      </ul>
  </nav>
  <a class="menu-toggle rounded" href="#">
    <span>&#9776</span>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#image"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#image">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#experience">Experience</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <li class="sidebar-nav-item">
          <a href="{% url 'blogHome' %}" target="#">NewsRoom</a>
      </li>
      <li class="sidebar-nav-item">
          <a href="{% static 'docs/MacVincent_Agha-Oko_resume.pdf' %}" target="#">Resume</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="https://github.com/macvincent" target="#">Github</a>
      </li>
    </ul>
  </nav>
  <section class="image" id="image">
  </section>
  <section class="about text_content" id="about">
    <h2>About</h2>
    <span>
      Coming from a beautiful community with lots of talent and very few opportunities, I am committed to the sole purpose of changing the face of the African Tech space, to ensure every dream is given the opportunity to thrive and that location never constitutes a limiter or boundary to the achievements of the African child. 
      As a Computer Engineering Major, I am currently focused on developing the skill set necessary for success in the tech industry. Whether it's through working with multi-threaded C++ systems or volunteering with the local NSBE branch, I remain committed to that overreaching goal of growth. And as a direct consequence, I am open to volunteering, Internship and learning opportunities.
    </span>
  </section>
  <section class="education text_content" id="education">
    <h2>Education</h2>
    <div>
      <img src="{% static 'img/claflin.png' %}" alt="CLAFLIN LOGO">
      <div class="description">
        <h4>
          Claflin University
        </h4>
        <h5>
          Candidate for Bachelor in Computer Engineering
        </h5>
        <h6><em><strong>Presidential Scholar The Alice Tisdale Honor's College</strong></em></h6>
        <h6>2018 - 2022</h6>
        <h6><strong>GPA: 4.0/4.0 </strong></h6>
        <h6><strong>Relevant Coursework: Introduction to Object Oriented Programming | Digital Logic Design | Discrete Mathematics</h6>
      </div>
    </div>
    <div>
      <img src="{% static 'img/fgbc.jpg' %}" alt="FGBC APO LOGO">
      <div class="description">
        <h4>
          Federal Government Boys' College
        </h4>
        <h5>
          Best Graduating Student
        </h5>
        <h6><em><strong>Senior Prefect</strong></em></h6>
        <h6>2010 - 2016</h6>
        <h6><strong>Activities: Press Club | Nigerian Model United Nations Society | Debate Club</h6>
      </div>
    </div>
  </section>
  <section class="content-section projects" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/macvincent/City-Planner">
          <span class="caption">
              <span class="caption-content"  style="font-weight: 900; color: #f2f2f2;">
                <h1>City Planner</h1>
                <p class="mb-0"><strong>Programmed a multi-threaded traffic simulation showing vehicular movement in a real-world city. Visualized a 2D model of the live simulation by making use of the OpenCV library</strong></p>
              </span>
          </span>
          <img class="img-fluid" src="{% static 'img/city_planner.png' %}" alt="A map showing vehicular traffic">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/macvincent/CppND-System-Monitor">
            <span class="caption" style="color:white;">
              <span class="caption-content">
                <h1>System Monitor</h1>
                <p class="mb-0"><strong>Makes use of the ncurses library to build an interactive system-monitor process-viewer for a Linux system. It displays information about memory and CPU utilization, much similar to the Htop application. This project was one of those completed as part of my Udacity C++ Nanodegree program.</strong></p>
              </span>
            </span>
            <img class="img-fluid" src="{% static 'img/system_monitor.png' %}" alt="A robot hand">
          </a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/macvincent/CppND-Route-Planning-Project">
          <span class="caption">
              <span class="caption-content">
                <h1 style="color:black;">Route-Planning-App</h1>
                <p class="mb-0"><strong>Made use of the C++ IO2D library to render a 2D model of a map showing the shortest path between two nodes in the map. The shortest path was found using the A* path-finding algorithm and the map was gotten using OpenStreet Map data. 
                This project was one of the projects completed for the Udacity C++ Nanodegree.</strong></p>
              </span>
          </span>
          <img class="img-fluid" src="{% static 'img/map.png' %}" alt="A map showing the shortest path between two points">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/macvincent/Aduino_Controlled_Robot_Hand_Prototype">
            <span class="caption" style="color:white;">
              <span class="caption-content">
                <h1>Robot_Hand_Prototype</h1>
                <p class="mb-0"><strong>The Arduino Controlled Robot Hand Prototype was a project for my CSC225 Digital Logic Design class. We made use of an Arduino, DC motors, and an L923D IC to control the speed and direction of the robotic fingers.</strong></p>
              </span>
            </span>
            <img class="img-fluid" src="{% static 'img/robot.jpg' %}" alt="A robot hand">
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="experience" id="experience">
        <h2>Relevant Experience</h2>
        <div class="row">
          <div class="col-lg-4">
              <img src="{% static 'img/ub.jpg' %}">
          </div>
          <div class="col-lg-4">
            <h6><em>Tutor Counsellor - Math</em></h6>
            <h4>Claflin University Upward Bound Program </h4>
            <h6> Orangeburg, South Carolina </h6>
          </div>
          <div class="col-lg-4 text">
            <span>
              Worked with High School students around the Orangeburg County area towards developing an attitude of high expectations regarding college preparation and readiness. 
              Provided personal guidance, mentorship, and support to a group of 5 wonderful High school students. 
              And also assisted with general Math instruction
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
              <img src="{% static 'img/nsbe.png' %}">
          </div>
          <div class="col-lg-4">
            <h6><em>Java Tutor</em></h6>
            <h4>National Society of Black Engineers</h4>
            <h6> Orangeburg, South Carolina </h6>
          </div>
          <div class="col-lg-4 text">
            <span>
            Take fellow students on weekly classes focused on the fundamentals of programming in Java.
            It Greatly aided in their comprehension of concepts taught in class</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <img src="{% static 'img/ieee.png' %}">
            </span>
          </div>
          <div class="col-lg-4">
            <h6><em>Public Relations Officer</em></h6>
            <h4>Institute of Electrical and Electronic Engineers (IEEE)</h4>
            <h6> Owerri, Nigeria </h6>
          </div>
          <div class="col-lg-4 text">
            <span> 
              Successfully led the planning committee for the 2017 Student Professional Awareness Conference (SPAC). Managed the social media handles of the Student Branch and ensured publicity for our activities. Aided with C++, Arduino Micro-Controllers and Web Development instruction. In charge of recruiting efforts that led to a massive increase in membership
            </span>
          </div>
        </div>
    </section>
  <section class="contact" id="contact">        
    <h2>Contact</h2>
    <form method="POST" name="feedback">
        <label>Name</label>
        <input name="name" id="name" placeholder="John Doe">
                
        <label>Email</label>
        <input name="email" id="email" type="email" placeholder="abc@example.com">
                
        <label>Message</label>
        <textarea name="message" id="message" placeholder="Insert message..."></textarea>
                
        <input id="submit" name="Send" type="submit" value="Send">
    </form>
 <?php
    $name = test_input($_POST['name']);
    $email = test_input($_POST['email']);
    $message = test_input($_POST['message']);
    $message = str_replace("\n.", "\n..", $message);
    $headers = array(
    'From' => 'MacVincent',
    'Reply-To' => 'macvincent@macvincent.com',
    'X-Mailer' => 'PHP/' . phpversion()
);  $to = 'macvincentaghaoko@gmail.com'; 
    $subject = 'MacVincent.com';
			
    $body = "From: $name\nE-Mail: $email\nMessage:\n $message";
    $reply = "Thank you $name for reaching out. I would get back to you shortly.\nMacVincent Agha-Oko";
	echo "<p class='error'> $name ";
    if ($_POST['submit']) {
      if (mail ($to, $subject, $body, $headers)) { 
        if(mail($email, "Opinion Feedback", $reply, $headers)){
              echo ' your message has been sent!</p>';
        }
      } else { 
          echo 'something went wrong, go back and try again!</p>'; 
      }
	}
    
    function test_input($data) {
      $data = trim($data);
      $data = stripslashes($data);
      $data = htmlspecialchars($data);
      return $data;
	}
?>
  </section>
  <footer>Created by MacVincent™️</footer>
  <!-- Js Scripts -->
  <!--  -->
  <!--  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'js/src.js' %}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142448634-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142448634-1');
    </script>
    <script>
  <?php if ($_POST['submit']) echo '$([document.documentElement, document.body]).animate({
      scrollTop: $("form").offset().top
  }, 2000);
  alert("Your message has been sent");'; ?>
  </script>
</body>
</html>