/* BlogPage */
.header{
    position: fixed;
    top: 0;
    height: 77px;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(../docs/striped_lens/striped_lens.png);
    margin: 0;
    width: 100%;
    padding: 0;
    font-family: sans-serif;
}
.feed{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.article{
    background: #fff;
    border-radius: 10px;
    border: 2px solid #cecece;
    margin-top: 40px;
    padding: 0!important;
}
#name{
    padding: 40px;
    border-bottom: 1px solid #efefef;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
}
img{
    width:100%;
    height:500px;
    background-repeat:no-repeat;
    background-size:cover;
}
a{
    text-decoration: none;
    color: black;
}
.comment{
    color: grey;
}
.blogText{
    padding: 5px;
}
/* Trending Stories */
#trendingStories{
    background: #fff;
    border-radius: 10px;
    border: 2px solid #cecece;
    position: fixed;
    width: 20%;
    text-align: left;
    margin: 15;
    margin-top: 60px;
    padding: 10px;
    height: 85%;
    overflow: scroll;
}
#trendingArticles{
    border: 1px solid #cecece;
    padding: 5px;
    border-radius: 5px;
    margin-top: .9375rem;
    max-height: 15rem;
    overflow-y: hidden;
    font-size: medium;
}
/*
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    /* background: transparent;  Optional: just make scrollbar invisible */
/* } */