.chatroom{
    margin: auto;
    width: 90%;
    height: 87%;
}
.title{
    font-size: 20px;
}
.body{
    width: 100%;
    height: 93%;
    line-height: 1.5rem;
    display: flex;    
}
/* Posts */
.img{
    float: left;
    width: 100%;
    height: 300px;
}
.post{
    margin: 0;
    width: 50%;
    padding: 20px;
    height: 100%;
    margin: 20px;
    background: #ebebeba1;
    border-radius: 10px;
    overflow-y: scroll;
}
.post p{
    text-align: left;
}
/* Comment */
.comment{
    margin: 0;
    width: 50%;
    padding: 20px;
    height: 100%;
    margin: 20px;
    background: #ebebeba1;
    border-radius: 10px;
}
.commentbox{
    height: 80%;
    overflow-y: scroll;
}
.comment input{
    height: 30%;
}
.comment form input[type="submit" i] {
    border-radius: 5px;
}
.comment form input[type="text"] {
    border-radius: 5px;
}
.comment ul{
    text-align: left;
    list-style: none;
}
.comment textarea{
    border-radius: 5px;
}
a{
    text-decoration: none;
}
.name{
    color: grey;
}