/* Blog Page */
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}
/* Header */
.navbar{
    background-color : black;
    height: 30px;
    width: 50px;
    padding: 20px;
}
.header{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 67px;
    text-align: left;
    padding-top: 5px;
}
.left{
    width: 80%;
    display: block;
    padding-left: 20px;
    text-align: left;
}
.right{
    width: 20%;
    padding-right: 20px;
    text-align: right;
}
h1{
    color: black;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon{
    height: 50px;
    width: 50px;
}
a{
    text-decoration: none;
    color: black;
}