/* Blog Page */
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    background: url(../docs/striped_lens/striped_lens.png)
}
.navbar{
    background-color : black;
    height: 50px;
    width: 50px;
    padding: 20px;
}
.header{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 10%;
    text-align: left;
}
.left{
    width: 80%;
    display: block;
    text-align: left;
}
.right{
    width: 20%;
    padding: 15px 15px 15px 20px;
    text-align: right;
}
h1{
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon{
    height: 50px;
    width: 50px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}