/* Profile */
.profile{
    display: flex;
    height: 89%;
    width: 70%;
    margin: auto;
}

/* ProfileInfo */
.profileinfo{
    width: 50%;
    background: #80808012;
}

.profileimage{
    padding: 20px;
    width: 50%;
    height: 40%;
}

.info{
    display: relative;
    margin: 20px;
    width: 85%;
    height: 40%;
    background: #808080;
    color: azure;
    border-radius: 10px;
    padding: 5px;
}
#name{
    font-weight: 500;
}

ul{
    text-align: left;
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}
li{
    padding-top: 10px;
}
/* chatinfo */
.chatinfo{
    width: 50%;
    padding: 20px;
    background: #808080;
}