/* General Styling */
body, html{
  height: 100%;
  line-height: 1.5;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #212529;
}
.image{
  height: 100%;
  background-color: grey;
  background:url("../img/img-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}
@media screen and (min-width: 800px) {
  .image {
 	 background-position: center;
  }
}
section{
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
/* If the screen size is 600px wide or less*/
@media screen and (max-width: 600px) {
  .container {
    font-size: 12px;
  }
}
.menu-toggle:hover {
  background: #343a40;
}
.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}
a:active, a:focus, a:hover {
  color: #fff;
}
/* NavBar */
nav{
  transition: all 0.7s ease 0s;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  z-index: 999;
  font-family: 'Saira Stencil One', cursive;
}
li{
  display: inline;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 60%;
  padding: 0;
  list-style: none;
  font-weight: 500;
  text-align: right;
}
nav li a {
  font-weight: 400;
  font-size: 15px;
  display: inline;
  text-decoration: none;
  color: #dee8e8;
  padding: 15px;
}
li a:hover, a:active{
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.shaded{
  background: rgba(52, 58, 64, 0.7);
}
.name{
  color: #dee8e8;
  width: 74px;
  height: 24px;
  position: absolute;
  padding-left: 20px;
}
h2{
  font-family: 'Saira Stencil One', cursive;
  font-size: 35px;
}
/* About */
.about{
  text-align: left;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: #b5b7b5;
}
.about span{
  width: 80%;
  margin: auto;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Source Sans Pro';
}
/* Education */
.education{
  background: url(../docs/striped_lens/striped_lens.png);
  font-family: 'recurse';
  text-align: center;
}
.description{
  font-family: 'Source Sans Pro';
  font-size: 1.25rem;
  font-weight: 300;
  padding-top: 10px;
}
.description h4{
  font-weight: 600;
}
/* Experience */
.experience{
  font-family: 'Source Sans Pro';
  text-align: center;
  background: url(../docs/striped_lens/striped_lens.png);
}
.experience img{
  width: 107px;
  height: 108px;
  border-radius: 150px;
  background-size: 55% 55%;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  background-repeat: no-repeat;
  background-color: white;
}
.text{
  text-align: left;
  padding-top: 20px;
}
.experience h6{
  font-weight: bold;
  font-size: 1em;
}
div.text{
  padding-right: 30px;
}
.service-icon{
  border-radius: 100%;
}
.experience .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.row a{
  padding: 0;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.row{
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}
.text_content{
  padding-left: 20%;
  padding-right: 20%;
}
.text_content div{
  padding-bottom: 20px;
}
.contact{
  background: #b5b7b5;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .container {
    font-size: 20px;
  }
}

/* Portfolio */
.projects{
  background-color: #b5b7b5;
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  font-family: 'Source Sans Pro';
}
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}
.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

.portfolio-item .caption .caption-content p{
  font-weight: 300;
  font-size: 1.2rem;
}
/* When screen is greater than 992px */
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}
/* Form */
form {
  margin:0 auto;
  width:459px;
  border:1px solid #dedede;
  padding: 12px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}
.contact h2{
  text-align: center;
}
input, textarea {
  width:439px;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
textarea {
  height:100px;
  background: #efefef;
}
input:focus, textarea:focus {
  border:1px solid #97d6eb;
}
#submit {
  width:127px;
  height:38px;
  border:none;
  margin-top:20px;
  cursor: pointer;
  color: black;
}
textarea.error, input.error{
  border: 1px solid red;
}
textarea.error:focus, input.error:focus{
  border: 1px solid white!important;
}
p.error{
  color: whitesmoke;
}
/* For screens with size less than 992px */
@media (max-width: 992px) {
  form {
    width:300px;
  }
  input, textarea {
      width:100%;
      padding:10px;
  }
  
  textarea {
    height:100px;
    background: #efefef;
  }
  #submit {
      width:100px;
      height:35px;
    }
  }
/* Sidebar*/
#sidebar-wrapper{
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #666;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #dee8e8;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: left;
}
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
  text-decoration: none;
}
/* Footer */
footer{
  background-color: #b5b7b5;
  text-align: center;
  padding: 20px;
  color: #666;
}
/* Desktop */
@media (min-width: 992px) {
  .menu-toggle{
    visibility: hidden;
  }
}
/* Mobile */
@media (max-width: 992px) {
  .nav{
    visibility: hidden;
  }
  .image{
    background:url("../img/img-min-mobile.jpg");
    background-size: contain;
    background-repeat: round;
  }
  section{
    text-align: center!important;
  }
  .name{
    text-align: center;
    width: 100%;
    padding: 0;
    z-index: 0.5;
    position: absolute;
  }
  nav li a{
    padding: 0;
    text-align: center;
  }
}