{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'css/blog.css' %}">
    </head>
    <header>
    </header>
    <body>
        <div>
        <div class="header">
            <a class="left" href="{% url 'home' %}">
                <img src="{%static 'img/newsroom.svg' %}" class="icon "alt=""><h1>NewsRoom</h1>
            </a>
            <div class="right">
                <a href="{% url 'profile' %}">
                    <img src="{%static 'img/profile.svg' %}" class="icon" alt="">
                </a>
            </div>
        </div>
        <div class="feed">
                {% block pagecontent %}
                {% for news in news_list %}
                <div  class="article">
                    <a href="{% url 'chatroom' %}?news={{news.title}}">
                        <p>
                            {{news.title}}
                        </p>
                        <img src="{{news.image}}" height="400" width="500"/><br>
                        <div class="comment">
                            {{news.post}}
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endblock %}
        </div>
        </div>
        <footer>Data supplied by NewsApi Website</footer>
    </body>
</html>