{% load static%}
<!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="{%static 'css/header.css' %}">
    <link rel="stylesheet" href="{%static 'css/chatroom.css' %}">
    <title>  
        {{news.title}}
    </title>
    </head>
    <body>
        <div class="header">
            <a class="left" href="{% url 'home' %}">
                <img src="{%static 'img/newsroom.svg' %}" class="icon "alt=""><h1>NewsRoom</h1>
            </a>
            <div class="right">
                <a href="{% url 'profile' %}">
                    <img src="{%static 'img/profile.svg' %}" class="icon" alt="">
                </a>
            </div>
        </div>
        <div class="chatroom">
            <div class="body"> 
                <div class="post">
                    <div class="img">
                        <img src="{{news.image}}" class="img" alt="{{news.title}}">
                    </div>
                    <h2 class="title">{{news.title}}</h2>
                    <p>
                        {{news.post}}
                        <br>                        
                        <span >View full article from source: <a class="name" href="{{news.url}}">{{news.source}}</a></span>
                    </p>
                </div>
                <div class="comment">
                        <h2>Analysis</h2>
                    <div class="commentbox">
                        <ul>
                            {% for comment in comments %}
                                <li><a href = "{% url 'profile' %}?user={{comment.name.username}}"><span class="name">{{comment.name.username}}: </span> {{comment.comment}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="input">
                        <form action="{% url 'chatroom' %}" method="POST">{% csrf_token %}
                                <input type="hidden" value="{{news.title}}" name="title">
                                <textarea name="newcomment" id="newcomment" placeholder="add comment..."></textarea>
                                <input type="submit" value="send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>