{% load static%}
<!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="{%static 'css/header.css' %}">
    <link rel="stylesheet" href="{%static 'css/profile.css' %}">
    <title>  
        {{user.username}}
    </title>
    </head>
    <body>
        <div class="header">
            <a class="left" href="{% url 'home' %}">
                <img src="{%static 'img/newsroom.svg' %}" class="icon "alt="">
                <h1>NewsRoom</h1>
            </a>
            <div class="right">
                <a href="{% url 'profile' %}">
                    <img src="{%static 'img/profile.svg' %}" class="icon" alt="">
                </a>
            </div>
        </div>
        <div class="profile">
            <div class="profileinfo">
                {% if image %}
                    <img src="/media/{{image}}" alt="" class="profileimage">
                {% else %}
                    <img src="{% static 'img/profile.svg' %%}" alt="" class="profileimage">
                {% endif %}
                <div class="info">
                    <p id="name">{{user.username}}</p>
                    <ul>
                        <li>Total comments made: {{commentsNum}}</li>
                        <li>Total story engagement: {{storiesNum}}</li>
                        <li>Verified field: Coming soon</li>
                    </ul>
                    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <input type="file" name="image" accept="image/*" id="image">
                        <input type="hidden" name="user" value={{user}}>
                        <input type="submit" value = "Update_Profile">
                    </form>
                </div>
            </div>
            <div class="chatinfo">
                <h2>Comments</h2>
                <ul>
                    {% for story, comments in stories.items %}
                        <li><a id="story" href="{% url 'chatroom' %}?news={{story.title}}">{{story}}</a></li>
                        {% for comment in comments %}
                            <li>=> <a href = "{% url 'profile' %}?user={{user.username}}">{{comment}}</a></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>