{% load static%}
<!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="{%static 'css/header.css' %}">
    <link rel="stylesheet" href="{%static 'css/profile.css' %}">
    <title>  
        {{user.username}}
    </title>
    </head>
    <body>
        <div class="header">
            <a class="left" href="{% url 'home' %}">
                <img src="{%static 'img/newsroom.svg' %}" class="icon "alt="">
                <h1>NewsRoom</h1>
            </a>
            <div class="right">
                <a href="{% url 'profile' %}">
                    <img src="{%static 'img/profile.svg' %}" class="icon" alt="">
                </a>
            </div>
        </div>
        <div class="chatroom">
        </div>
    </body>
</html>